@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

.task-row {
  border: 1px solid #000;
  text-align: left;
  padding: 1%;
}

.icon {
float:right;
  color:black;
}
